@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
    width: 100%;
    background: #fff;
    color: #333332;
    /*font-size: 1.8rem;*/
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

p{
    margin-bottom: 0;
}

.navbar {
    padding: 5pt 10pt;
    background: white;
    box-shadow: 0 2pt 4pt 0 rgba(0,0,0,0.2);
}

.container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.alert{
    /*border-radius: 0!important;*/
    padding: 6px;
}

.card {
    /*border-radius: 0!important;*/
    margin-left: 25pt;
    margin-right: 25pt;
    margin-top: 5pt;
    padding: 25pt;
    background-color: #f7f9fc;
}

.short-input {
    width: 30%;
}

.table-box {
    border-radius: 5pt;
    border: thin solid lightgrey;
    padding: 10pt;
    margin: 5pt 0;
}

label {
    cursor: pointer;
    filter: grayscale(100%);
}

label:hover {
    filter: grayscale(0);
}
input[type="radio"]:checked + label {
    filter: grayscale(0);
}